h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

body{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.link{
    color:cyan;
    font-size: 20px;
}

h2{
    font-weight: 300;
    color:white;
    font-size: 42px;
}

h3{
    color:gray;
    font-size: 21px;
    font-weight: lighter;
}